.main-modal form h2{
    color: var(--dark);
}

.cancel-save-btn {
    display: flex;
    align-items: center;
    justify-content: end;
}

.cancel-save-btn .cancel {
    background: var(--color-light);
}

.error {
    font-size: .6rem;
    color: var(--danger);
}

p.danger{
    color: var(--danger);
}