.mainbody {
    display: flex;
    position: fixed;
    top: 1rem;
    left: 20rem;
    height: 100vh;
    width: 90vw;
    overflow-y: scroll;
}

.container {
    width: 730px;
    flex-direction: column;
}

.container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem;

}

.header .left h2 {
    color: var(--dark);
}

.header .left p {
    color: var(--primary-color-hover);
}

.container .header .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.dropdown-options{
    color: var(--dark);
}
.right .newInvoice button img {
    background: var(--card);
    padding: .5rem;
    border-radius: 50%;
    background-color: #fff;
}

.right .newInvoice button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .3rem;
    padding: .5rem;
    background: var(--primary-color);
    border: none;
    border-radius: 2rem;
    color: var(--card);
}

.dropdown-trigger span {
    color: var(--dark);
}

.right .newInvoice button:hover {
    cursor: pointer;
}

.container .content {
    width: 100%;
}

.container .content .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem;
    padding: .7rem;
    border-radius: .5rem;
    border: 1px solid var(--card-color);
    background: var(--card-color);
}
.content .card h4, .content .card h5, .content .card{
    color: var(--dark);
}
.container .content .card:hover {
    cursor: pointer;
}

.card .card-btn img {
    background: var(--card);
}

.empt-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-container {
    position: relative;
}

.dropdown-trigger {
    padding: 8px;
    cursor: pointer;
}

.dropdown-options {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 10px 24px;
    background-color: var(--card-color);
    box-shadow: var(--box-shadow);
    border-top: none;
    border-radius: 8px;
}

.dropdown-options label {
    padding: 10px 0px;
}

.radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-label input[type="radio"] {
    display: none;
}

.radio-custom {
    width: 16px;
    height: 16px;
    border: 2px solid var(--primary-color-hover);
    border-radius: 4px;
    margin-right: 10px;
}

.radio-label input[type="radio"]:checked+.radio-custom {
    border-color: var(--primary-color-hover);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-text {
    margin-right: 16px;
}

/* MEDIA QUERY FOR MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
    .mainbody {
        left: 10rem;

    }
}

/* MEDIA QUERY FOR TABLET DEVICES */
@media screen and (max-width: 678px) {
    .mainbody {
        top: 5rem;
        left: 1rem;
    }

    .container .header .right {
        gap: .2rem;
    }
}

/* ============MEDIA QUERY FOR MOBILE DEVICES=========== */
@media screen and (max-width: 375px) {
    .mainbody {
        top: 5rem;
        left: 0;
    }
}