:root{
  --primary-color: #7C5DFA;
  --primary-color-hover: #9277FF;
  --danger: #EC5757;
  --danger-hover: rgb(255, 151, 151);
  --dark: #1E2139;
  --dark-hover: #252945;
  --color-light: #F8F8FB;
  --color-light-hover: #DFE3FA;
  --bg-color: #f8f8f8;
  --card: #fff;
  --card-color2: #f9fafe;
  --card-color3: #373b53;
  --edit-color: #DFE3FA;
  --edit-hover-color: #F8F8FB;
  --gray: rgb(212, 209, 209);
}
[data-theme="dark"]{
  --primary-color: #7C5DFA;
  --primary-color-hover: #9277FF;
  --danger: #EC5757;
  --danger-hover: rgb(255, 151, 151);
  --dark: #fff;
  --dark-hover: #252945;
  --color-light: #F8F8FB;
  --color-light-hover: #DFE3FA;
  --bg-color: #1E2139;
  --card: #1E2139;
  --card-color2: #f9fafe;
  --card-color3: #373b53;
  --edit-color: #DFE3FA;
  --edit-hover-color: #F8F8FB;
  --gray: rgb(212, 209, 209);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000;
}
.edit{
  background: var(--edit-color);
}
.edit:hover{
  background: var(--edit-hover-color);
}
.delete{
  background: var(--danger);
}
.delete:hover{
  background: var(--danger-hover);
}
.saveAsPaid{
  background: var(--primary-color);
}
.saveAsPaid:hover{
  background: var(--primary-color-hover);
}
.primary{
  color: var(--primary-color);
}
.primary-hover{
  color: var(--primary-color-hover);
}
.danger{
  color: var(--danger);
}
.danger-hover{
  color: var(--danger-hover);
}
.error{
  font-size: .6rem;
  color: var(--danger);
}
body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: var(--bg-color)
}
h1{
  font-size: 32px;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 12px;
}
.status p{
  font-size: .8rem;
  font-weight: 600;
}
.status-paid{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  color: rgb(123, 201, 123);
  background: rgb(234, 255, 234);
  padding: .5rem;
  border-radius: .5rem;
}
.status .dot-paid{
  width: .5rem;
  height: .5rem;
  background: rgb(48, 231, 48);
  border-radius: 50%;
}

.status-pending{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  color: #ffc077;
  background: #f8f3ee;
  padding: .5rem;
  border-radius: .5rem;
}
.status .dot-pending{
  width: .5rem;
  height: .5rem;
  background:  #ffc077;
  border-radius: 50%;
}

.status-draft{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  color: #888EB0;
  background: #f6f7ff;
  padding: .5rem;
  border-radius: .5rem;
}
.status .dot-draft{
  width: .5rem;
  height: .5rem;
  background: #888EB0;
  border-radius: 50%;
}